<p>
    <h1>Create new item</h1>
    <form name="createItemForm" novalidate>
        <div >
            <label>Name</label>
            <input name="itemName" type="text" required>
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text">
        </div>
        <div class="form-group">
            <label>Size</label>
            <input type="text">
        </div>

        <button type="submit">Create</button>
        <a ui-sref="root.itemList">Back to list</a>
    </form>
</div>
