main > div {
    display: inline-block;
    width: 400px;
}

.table {
    width: 100%;
}

#createItemForm {
    width: 100%;
}

#createItemForm > div {
    display: block;
    margin-bottom: 5px;
}

footer {
    background: palevioletred;
    padding: 20px;
    margin-top: 20px;
}
